*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*GENERICS*/
p,h1{
    margin-bottom: 0;
}
/*UTILITIES*/
.border{
    border: 1px solid black;
}
.white{
    color: white;
}

.flex{
    display: flex;
}
.a-center{
    align-items: center;
}
.j-center{
    justify-content: center;
}


/*CONTENT*/
.container a{
    text-decoration: none;
    color: white;
}
.header a{
    font-size: 12px;
}
.col{
    background-color: hsl(210deg 29% 24%);
    height: 64px;
}

.title{
    font-size: 20px;
}

