*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*GENERICS*/
p,h1{
    margin-bottom: 0;
}

/*UTILITIES*/

/*CONTENT*/

.container-fluid a{
    text-decoration: none;
    color: white;
}
.graphic h1{
    color: white;
}
.graphic p{
    color: white;
}
.header{
    background-color: hsl(210deg 29% 24%);
    height: 64px;
    font-weight: bold;
}
.footer{
    background-color:hsl(209deg 31% 33%); ;
}
.col i{
    color: white;
}
.portfolio i{
    color: black;
}
.footer .col h5{
    color: white;
}
.footer h5{
    margin-bottom: 4px;
}
.footer p{
    font-size: 12px;
}
.footer .col a{
    color: hsl(168deg 76% 42%);
}
.footer i{
    font-size: 24px;
    margin: 3px 6px
}
.copyright{
    background-color: hsl(210deg 29% 24%);
}
.copyright p{
    font-size: 10px;
    color: white;
}
.info p{
    color: white;
}
.send a{
    background-color: hsl(168deg 76% 42%); 
}
.header a{
    font-size: 12px;
}
.title{
    font-size: 20px;
}

.graphic{
    background-color: hsl(168deg 76% 42%);
}

.avatar{
    width: 200px;
    height: auto;
}